{% extends 'base.html.twig' %}
{% block title %}Catálogo de películas{% endblock %}
{%  block main %}
	{{ parent() }}
	<p>Esta es la portada del sitio web <b>Symfofilms</b>.</p>
	
	<p>A lo largo de las próximas semanas iremos editando este ejemplo para dotarlo de nuevas características y funcionalidades.</p>
	
	
	<div class="d-flex">
		<figure class="m-2">
			<img class="img-fluid" alt="Akira" src="/images/template/akira.jpg">
		</figure>
		<figure class="m-2">
			<img class="img-fluid" alt="Akira" src="/images/template/terminator2.jpg">
		</figure>
		<figure class="m-2">
			<img class="img-fluid" alt="Akira" src="/images/template/mejor.jpg">
		</figure>
	</div>
{% endblock %}







